/dist/
/build/*
/target/*
*.exe
/data/*
/LOLResources/*
/LOLResources/*.*
/test_data/*
/images/unused/*
/launcher_screens/*.png
exclude.txt
release.bat
./run_as_admin.bat
./run_with_commandline.bat
./update_test_file.bat
./AutoClient.jar
/release/tmp/*
*.7z
/cleanest.cfg
/proguard/
/proguard/*.*
/release/last_release/data/settings.bin
/stop_flashing/wrong_return_value.txt
*.jar
!/release/*/*.jar
/updates/*