/dist/
/build/*
/target/*
/nbproject/private/*
*.exe
/data/*
/LOLResources/*
/LOLResources/*.*
/test_data/*
/images/unused/*
/launcher_screens/*.png
./run_as_admin.bat
./run_with_commandline.bat
./update_test_file.bat
./AutoClient.jar
*.7z
/cleanest.cfg
/proguard/
/proguard/*.*
/release/last_release/data/settings.bin
/stop_flashing/wrong_return_value.txt
*.jar
/release/*
/updates/*
