div.script {
  display: table-cell;
  vertical-align: top;
}

div.script div.script-command {
  display: inline-block;
  max-width: 15em;
  min-width:2.5em;
  
  border: 1px solid #266DD9;
  background-color: rgba(38,73,199, 0.3);
  border-radius: 2pt; 
  margin: 3pt;
  
  vertical-align: top;
}
div.script div.script-command hr {
  border-color: #3F89FF;
}
div.script div.end {
  display: none;
}

div.script-command div.heading {
  text-align: center;
  font-size: 15pt;
  padding: 3pt;
}
div.script-command div.heading div.name {
  padding: 0px;
}
div.script-command div.heading div.title {
  padding: 0px;
  font-size:8pt;
  font-style: italic;
}
div.script-command div.heading div.title.error {
  color: red;
}
div.script-command div.heading {
  text-align: center;
  font-size: 15pt;
}

div.script-command div.arguments {
  padding: 0.5 em;
  text-align: center;
}
div.script-command div.arguments .argument {
  font-family: "Courier new", consolas;
  color: black;
  font-size:11pt;
  background-color: #CCC;
  border: 1px solid white;
  padding: 2pt;
  margin: 2pt;
  display: inline-block;
}

div.script-command div.arguments span.argument.named {
  background-color: rgba(0,0,0, 0.5);
  color: white;
  padding: 3pt;
}

div.arguments span.argument.named .arg-name {
  font-family: "Arial";
  margin-right: 3pt;
}
div.arguments .argument.named span.arg-name::after {
  content: ":";
}
div.arguments .argument.named .arg-value.string {
  color: #C34700;
}
div.arguments .argument.named .arg-value.number {
  color: #3E78FF;
}

input.script-editor {
  border: none;
  padding: 3pt;
  font-size: 14pt;
  font-family: Courier new;
  width: 100%;
}

/** editor **/
div.script div.script-command.add-button {
  display: inline-block;
  font-size: 20pt;
  text-align: center;
  
  width: 30pt;
  min-width: 30pt;
  height: 30pt;
  
  border: 1px solid #66E239;
  background-color: rgba(102,226,57, 0.3);
  cursor: pointer;
  
  transition:background-color 0.3s;
}
div.script div.script-command.add-button:hover {
  background-color: rgba(102,226,57, 0.8);
}

div.script-edit-dialog {
  display: none;
}
div.script-edit-dialog form.add-command {
  display: none;
}

/** sved scripts **/
table.saved-scripts td.script{
  font-family: Consolas,Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,sans-serif;
  background-color: #333;
  border: 1px solid #666;
  white-space: pre-wrap;
  padding: 0.5pt 4pt;
  color: white;
}
