@keyframes pulse {
    0% {
     transform: scale(1, 1);
    }

    50% {
     transform: scale(1.2, 1.2);
    }

    100% {
    transform: scale(1, 1);
    }
}

.btn-zip .icon {
    background: rgba(0, 0, 0, 0) url("http://www.stdicon.com/humility/ddd.zip?size=18") no-repeat scroll 0 0;
}
.btn-java .icon {
    background: rgba(0, 0, 0, 0) url("../images/java.gif") no-repeat scroll 0 0;
}
.btn-fb .icon {
    background: rgba(0, 0, 0, 0) url("../images/facebook.png") no-repeat scroll 0 0;
    background-size: contain;
}                                             
  
header h1 a, header h2 a {
  color: inherit;
  text-decoration: inherit;
  text-shadow: inherit;
}

img.big, iframe.big {
  padding: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

iframe.youtube {
  border: none;
  background: transparent;
}

.browser-specific {
  display: none;
}
kbd {
    display: inline-block;
    margin: 0 .1em;
    padding: .1em .6em;
    font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
    font-size: 11px;
    line-height: 1.4;
    color: #242729;
    cursor: default;
    text-shadow: 0 1px 0 #FFF;
    background-color: #e1e3e5;
    border: 1px solid #adb3b9;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(12,13,14,0.2),0 0 0 2px #FFF inset;
    white-space: nowrap;
}
kbd.winkey {
    background-image: url("../images/windows.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 1.25em;
}
code {
  font-family: Consolas,Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,sans-serif;
  background-color: #333;
  border: 1px solid #666;
  white-space: pre-wrap;
  padding: 0.5pt 4pt;
  color: white;
}

em {
  color: red;
  text-shadow: 0 0 5px rgba(255, 0, 0, 0.5);
}
em i {
  font-style: normal;
}

a.red {
  color: red;
  text-shadow: 0 0 5px rgba(255,0,0, 0.5);
}

.pulse {
   animation: pulse 1s linear;
}
.pulse.red {
   background: rgba(255,0,0,0.5);
}
/** Index **/
ol#feature-list.feature-list li h4 {
  font-size: 1em;
}

/** Fixes to original design **/
.btn {
  padding: 6pt 13.5pt;
  border-radius: 37pt;
  font-size: 10pt;
  background: -webkit-linear-gradient(top, rgba(40, 40, 40, 0.3), rgba(35, 35, 35, 0.3) 50%, rgba(10, 10, 10, 0.3) 50%, rgba(0, 0, 0, 0.3));
  background: linear-gradient(to bottom, rgba(40, 40, 40, 0.3), rgba(35, 35, 35, 0.3) 50%, rgba(10, 10, 10, 0.3) 50%, rgba(0, 0, 0, 0.3));
}
.btn:hover {
  background: -webkit-linear-gradient(top, rgba(40, 40, 40, 0.6), rgba(35, 35, 35, 0.6) 50%, rgba(10, 10, 10, 0.8) 50%, rgba(0, 0, 0, 0.8));
  background: linear-gradient(to bottom, rgba(40, 40, 40, 0.6), rgba(35, 35, 35, 0.6) 50%, rgba(10, 10, 10, 0.8) 50%, rgba(0, 0, 0, 0.8));
}
.btn .icon {
    display: inline-block;
    width: 12pt;
    height: 12pt;
    margin-top: 0.5pt;
    margin-right: 6pt;
    margin-bottom: 0.5pt;
    margin-left: 0;
}
