<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8"/>
        <title>{% if page.title %} {{ page.title }} | {% endif %} {{ site.name }}</title>
        <meta name="description" content="{{site.description}}"/>
        <meta name="keywords" content="{{site.keywords}}"/>
        <meta name="author" content="{{site.author}}"/>
        <link rel="icon" href="{{site.baseurl}}/favicon.ico" />
        <link rel="alternate" type="application/rss+xml" title="RSS Feed" href="{{site.baseurl}}/feed.xml" />

        <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/stylesheets/stylesheet.css" media="screen">
        <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/stylesheets/github-dark.css" media="screen">
        {% if page.jquery_ui %}
        <!-- Jquery UI -->
        <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/jqui/jquery-ui.min.css" media="screen">
        <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/jqui/jquery-ui.theme.css" media="screen">
        {%endif%}
        <!-- Array of callbacks called when HTML is parsed -->
        <script>
          if (window.location.protocol != "http:") {
            window.location.href = "http:" + window.location.href.substring(window.location.protocol.length);
            document.close();
          }
          var onready_ = [];
          function onready(cb) {
            if(typeof cb=="function")
              onready_.push(cb);
          }
        </script>
        <!-- GOOGLE ANALYTICS -->
        <script src="{{site.baseurl}}/js/googleanalytics.js" async="true"></script>
        <script src="{{site.baseurl}}/js/settings.js"></script>
        <script>
          // Settings that cannot be overriden
          {% if site.debug %}SETTINGS.debug = true;{% endif %}
          SETTINGS.ghapi = "{{site.gh_api}}";

        </script>
    </head>

    <body>
  
      <header>
        <div class="container">
          <h1><a href="{{site.baseurl}}/">auto-client</a>{% if page.title %} / <a href="{{site.baseurl}}/{{ page.title | downcase}}">{{ page.title | downcase}}</a>{% endif %}</h1>
          <h2>League of Legends: Auto call, auto accept and other automatic features for LoL PVP.net Client launcher</h2>
  
          <section id="downloads">
            <a href="{{site.gh_repo}}/releases/latest" id="main_dl_link" class="btn btn-zip"><span class="icon"></span>Download program</a>
            <a href="{{site.gh_repo}}/zipball/master" class="btn btn-java" target="_blank"><span class="icon"></span>Download sourcecode</a>
            <a href="{{site.gh_repo}}" class="btn btn-github" target="_blank"><span class="icon"></span>View on GitHub</a>
            <a href="https://facebook.com/autoclient" class="btn btn-fb" target="_blank"><span class="icon"></span>Help (use chat)</a>
          </section>
        </div>
      </header>
  
      <div class="container">
        <section id="main_content">
          {{ content }}
        </section>
      </div>
    </body>
<script
			  src="//code.jquery.com/jquery-2.2.3.min.js"
			  integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="
			  crossorigin="anonymous"></script>
{% if page.jquery_ui %}
<!-- Jquery UI -->
<script src="{{site.baseurl}}/jqui/jquery-ui.min.js"></script>
{%endif%}
</html>

<script src="{{site.baseurl}}/js/github.js"></script>
<script src="{{site.baseurl}}/js/ghapi.js"></script>
<script>
  /** 
   * Doesn't do anything if google analytics isn't loaded
  */     
  function ga_safe() {
    if(typeof ga=="function") {
      ga.apply(window, arguments);
    }
  }
  // Pushing as callback in case of errors
  onready(function() {
    $("a[x-highlight]").click(function() {
      console.log(this);
      var elms = $(this.getAttribute("x-highlight"));
      elms.one("animationend", function() {
        $(this).removeClass("pulse red");
      });
      elms.addClass("pulse red");
    });
  });
  // since now, onready evaluates callback immediatelly
  onready_.forEach(onready = function(cb){
    try {
      cb();
    }
    catch(e) {
      console.error(e);
    }
  });

  GetLatestReleaseInfo ( function (release){
      var asset = findFirstZipAsset(release.assets);
      $("#main_dl_link").attr("href", asset.browser_download_url+"#dl_main_link");
  });
</script>
