<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8"/>
        <title>{% if page.title %} {{ page.title }} | {% endif %} {{ site.name }}</title>
        <meta name="description" content="{{site.description}}"/>
        <meta name="keywords" content="{{site.keywords}}"/>
        <meta name="author" content="{{site.author}}"/>
        <link rel="icon" href="{{site.baseurl}}/favicon.ico" />
        <link rel="alternate" type="application/rss+xml" title="RSS Feed" href="{{site.baseurl}}/feed.xml" />

        <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/stylesheets/stylesheet.css" media="screen">
        <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/stylesheets/github-dark.css" media="screen">
        <script>
          var onready_ = [];
          function onready(cb) {
            if(typeof cb=="function")
              onready_.push(cb);
          }

          var SETTINGS = {debug: false};
          {% if site.debug %}SETTINGS.debug = true;{% endif %}
          try {
            var user_settings = location.hash.length>1?JSON.parse(decodeURIComponent(location.hash.substr(1))):{};
            for(var i in user_settings) {
              if(typeof SETTINGS[i]!="undefined")
                SETTINGS[i] = user_settings[i];
            }
          }
          catch(e) {
            console.warn("Error parsing settings: ",e);
          }
          // Settings that cannot be overriden
          SETTINGS.ghapi = "{{site.gh_api}}";

        </script>
    </head>

    <body>
  
      <header>
        <div class="container">
          <h1><a href="{{site.baseurl}}">auto-client</a>{% if page.title %} / <a href="{{site.baseurl}}/{{ page.title | downcase}}">{{ page.title | downcase}}</a>{% endif %}</h1>
          <h2>League of Legends: Auto call, auto accept and other automatic features for LoL PVP.net Client launcher</h2>
  
          <section id="downloads">
            <a href="{{site.gh_repo}}/releases/latest" id="main_dl_link" class="btn btn-zip"><span class="icon"></span>Download program</a>
            <a href="{{site.gh_repo}}/zipball/master" class="btn btn-java" target="_blank"><span class="icon"></span>Download sourcecode</a>
            <a href="{{site.gh_repo}}" class="btn btn-github" target="_blank"><span class="icon"></span>View on GitHub</a>
            <a href="https://facebook.com/autoclient" class="btn btn-fb" target="_blank"><span class="icon"></span>Help (use chat)</a>
          </section>
        </div>
      </header>
  
      <div class="container">
        <section id="main_content">
          {{ content }}
        </section>
      </div>
    </body>
<script
			  src="//code.jquery.com/jquery-2.2.3.min.js"
			  integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="
			  crossorigin="anonymous"></script>
<script src="{{site.baseurl}}/js/ghapi.js"></script>
<script>
  onready_.forEach((cb)=>{
    try {
      cb();
    }
    catch(e) {
      console.error(e);
    }
  });
  GetLatestReleaseInfo((release)=>{
      var asset = release.assets[0];
      $("#main_dl_link").attr("href", asset.browser_download_url);
  });
</script>
</html>
